<header>
  <a href="/">
    <h2>BookStoreApi</h2>
  </a>
  <nav id="navMenu">
    <ul>
      <li>
        <a href="/"><i class="fas fa-home"></i> Home</a>
      </li>
      <li>
        <a href="/about"><i class="fas fa-info-circle"></i> About</a>
      </li>
      <li>
        <a href="/docs"><i class="fas fa-book"></i> Docs</a>
      </li>
      <li>
        <a href="/apiv"><i class="fas fa-code"></i> API v1</a>
      </li>
    </ul>
  </nav>
  <button class="menu-toggle" id="menuToggle">
    <i class="fas fa-bars"></i>
  </button>
</header>
